<form [formGroup]="form" (ngSubmit)="submit()">
  <input
    type="text"
    class="border w-full py-2 px-4 mb-2 rounded"
    placeholder="Product name"
    formControlName="title"
    appFocus
  >

  <p class="text-red-600 font-medium mb-2"
     *ngIf="title.errors?.minlength && title.touched"
  >
    Please fill title field with min length 6 symbols.
    Now length is {{ title.value.length }}
  </p>

  <button
    type="submit"
    class="py-2 px-4 bg-blue-600 text-white rounded"
  >
    Create
  </button>
</form>
